body {
    display: flex;
    justify-content: center;
}
#shipContainer {
    margin-top: 150px;
    background-color: rgb(211, 204, 204);
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    background-color: black;
    height: 50px;
    width: 50px;
    margin: 3px;
    cursor: pointer;
}
.cell:hover {
    background-color: rgb(54, 54, 54);
}
.ship {
    /* background-color: hotpink; */
}